
fft/.idea/workspace.xml
fft/wavs/temp0.wav
fft/wavs/temp.wav
fft/wavs/splitoutput/temp0/vocals.wav
fft/wavs/splitoutput/temp0/other.wav
fft/wavs/splitoutput/temp0/drums.wav
fft/wavs/splitoutput/temp0/bass.wav
fft/temp0.wav
fft/pretrained_models/5stems/model.meta
fft/pretrained_models/5stems/model.index
fft/pretrained_models/5stems/model.data-00000-of-00001
fft/pretrained_models/5stems/checkpoint
fft/pretrained_models/5stems/.probe
fft/pretrained_models/5stems/._checkpoint
fft/pretrained_models/4stems/model.meta
fft/pretrained_models/4stems/model.index
fft/pretrained_models/4stems/model.data-00000-of-00001
fft/pretrained_models/4stems/checkpoint
fft/pretrained_models/4stems/.probe
fft/pretrained_models/4stems/._checkpoint
fft/peaks/peaksSnare.png
fft/peaks/peaksBass.png
fft/wavs/temp0.wav
fft/wavs/temp.wav
fft/wavs/splitoutput/temp0/vocals.wav
fft/wavs/splitoutput/temp0/other.wav
fft/wavs/splitoutput/temp0/drums.wav
fft/wavs/splitoutput/temp0/bass.wav
fft/peaks/peaksSnare.png
fft/peaks/peaksBass.png
*.wav
*.png
